<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>POUSADARIA</title>
</head>

<body>
  <div id="app" class="container">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">POUSADARIA</a>
          <div class="d-flex">
            <input class="form-control me-2" placeholder="Buscar pousadas" v-model="searchTerm" @input="search">
          </div>
        </div>
      </nav>
    </header>
    <hr>
    <main>

      <section id="inns" v-if="showInns">
        <h2>Pousadas</h2>
        <div v-if="inns.length == 0">
          <h4>Nenhuma pousada encontrada</h4>
        </div>
        <ul>
          <li v-for="inn in inns">
            <div>
              {{ inn.trade_name }}
              <button @click="showInnDetails(inn)">
                Ver detalhes
              </button>
            </div>
          </li>
        </ul>
      </section>

      <section id="inn" v-if="selectedInn">
        <h4>{{ selectedInn.trade_name }}</h4>
        <ul>
          <li>Telefone: {{ selectedInn.phone }}</li>
          <li>E-mail: {{ selectedInn.email }}</li>
          <li>Endereço: {{ selectedInn.address }}, {{ selectedInn.address_number }} - {{ selectedInn.neighborhood }}, {{ selectedInn.city }} - {{ selectedInn.state }} | CEP: {{ selectedInn.cep }}</li>
          <li>Descrição: {{ selectedInn.description }}</li>
          <li>Formas de pagamento: {{ selectedInn.payment_methods }}</li>
          <li>Animais de estimação: {{ selectedInn.pets_allowed ? 'Aceitamos' : 'Não aceitamos' }}</li>
          <li>Políticas: {{ selectedInn.polices }}</li>
          <li>Horário de check-in: {{ selectedInn.checkin_time }}</li>
          <li>Horário de check-out: {{ selectedInn.checkout_time }}</li>
          <li>Nota média: {{ selectedInn.average_rating }}</li>
          <button @click="hideInnDetails">Voltar</button>
        </ul>
        
        <hr>
        <h4>Quartos</h4>
        <ul>
          <li v-for="room in rooms">
            <h5>{{ room.name }}</h5>
            <ul>
              <li>Descrição: {{ room.description }}</li>
              <li>Dimensão: {{ room.dimension }} m²</li>
              <li>Ocupação máxima: {{ room.max_occupancy }} pessoa(s)</li>
              <li>Diária: R$ {{ room.daily_rate }}</li>
              <li>Banheiro: {{ room.has_bathroom ? 'Sim' : 'Não' }}</li>
              <li>Varanda: {{ room.has_balcony ? 'Sim' : 'Não' }}</li>
              <li>Ar-condicionado: {{ room.has_air_conditioning ? 'Sim' : 'Não' }}</li>
              <li>TV: {{ room.has_tv ? 'Sim' : 'Não' }}</li>
              <li>Guarda-roupa: {{ room.has_closet ? 'Sim' : 'Não' }}</li>
              <li>Cofre: {{ room.has_safe ? 'Sim' : 'Não' }}</li>
              <li>Acessível: {{ room.is_accessible ? 'Sim' : 'Não' }}</li>
              <li>Verificar disponibilidade:
                <form @submit.prevent="checkAvailability(room)">
                  <label>
                    Data de check-in:
                    <input type="date" v-model="checkin">
                  </label>
                  <label>
                    Data de check-out:
                    <input type="date" v-model="checkout">
                  </label>
                  <label>
                    Número de hóspedes:
                    <input type="number" v-model="number_of_guests">
                  </label>
                  <button type="submit">Verificar</button>
                </form>
              </li>
              <li v-if="selectedRoom == room && errorMessages">
                <p>{{ errorMessages }}</p>
              </li>
              <li v-if="selectedRoom == room && selectedRoom.available">
                <p>Disponível! Valor total: R$ {{ selectedRoom.price }}</p>
              </li>
            </ul>
          </li>
        </ul>
      </section>

    </main>
  </div>
</body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="script.js"></script>
</body>
</html>