<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>POUSADARIA</title>
</head>

<body>
  <div id="app" class="container">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">POUSADARIA</a>
          <div class="d-flex">
            <input class="form-control me-2" placeholder="Buscar pousadas" v-model="searchTerm" @input="search">
          </div>
        </div>
      </nav>
    </header>
    <hr>
    <main>

      <section id="inns" v-if="showInns">
        <h2>Pousadas</h2>
        <div v-if="inns.length == 0">
          <h4 class="mt-4">Nenhuma pousada encontrada</h4>
        </div>
        <ul class="list-group">
          <li v-for="inn in inns" class="list-group-item">
            <div class="d-flex m-4 justify-content-between">
              <h4>{{ inn.trade_name }}</h4>
              <button class="btn btn-primary btn-sm" @click="showInnDetails(inn)">
                Ver detalhes
              </button>
            </div>
          </li>
        </ul>
      </section>

      <section id="inn" v-if="selectedInn">
        <h2>{{ selectedInn.trade_name }}</h2>
        <ul>
          <li class="list-group-item">Telefone: {{ selectedInn.phone }}</li>
          <li class="list-group-item">E-mail: {{ selectedInn.email }}</li>
          <li class="list-group-item">Endereço: {{ selectedInn.address }}, {{ selectedInn.address_number }} - {{ selectedInn.neighborhood }}, {{ selectedInn.city }} - {{ selectedInn.state }} | CEP: {{ selectedInn.cep }}</li>
          <li class="list-group-item">Descrição: {{ selectedInn.description }}</li>
          <li class="list-group-item">Formas de pagamento: {{ selectedInn.payment_methods }}</li>
          <li class="list-group-item">Animais de estimação: {{ selectedInn.pets_allowed ? 'Aceitamos' : 'Não aceitamos' }}</li>
          <li class="list-group-item">Políticas: {{ selectedInn.polices }}</li>
          <li class="list-group-item">Horário de check-in: {{ selectedInn.checkin_time }}</li>
          <li class="list-group-item">Horário de check-out: {{ selectedInn.checkout_time }}</li>
          <li class="list-group-item">Nota média: {{ selectedInn.average_score }}</li>
          <button class="btn btn-primary mt-4" @click="hideInnDetails">Voltar</button>
        </ul>
        
        <hr class="mt-4">
        <h2>Quartos</h2>
        <ul>
          <li v-for="room in rooms" class="list-group-item mt-4">
            <ul class="row">
              <div class="col-md-4">
                <h4>{{ room.name }}</h4>
                <li class="list-group-item">Descrição: {{ room.description }}</li>
                <li class="list-group-item">Dimensão: {{ room.dimension }} m²</li>
                <li class="list-group-item">Ocupação máxima: {{ room.max_occupancy }} pessoa(s)</li>
                <li class="list-group-item">Diária: R$ {{ room.daily_rate }}</li>
                <li class="list-group-item">Banheiro: {{ room.has_bathroom ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">Varanda: {{ room.has_balcony ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">Ar-condicionado: {{ room.has_air_conditioning ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">TV: {{ room.has_tv ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">Guarda-roupa: {{ room.has_closet ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">Cofre: {{ room.has_safe ? 'Sim' : 'Não' }}</li>
                <li class="list-group-item">Acessível: {{ room.is_accessible ? 'Sim' : 'Não' }}</li>
              </div>

              <div class="col-md-6">
                <li class="list-group-item">
                  <h4>Verificar disponibilidade:</h4>
                  <div class="card card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <form @submit.prevent="checkAvailability(room)">
                            <label for="checkin" class="form-label">Data de check-in:</label>
                            <input type="date" class="form-control" id="checkin" v-model="checkin">
                            <label for="checkout" class="form-label">Data de check-out:</label>
                            <input type="date" class="form-control" id="checkout" v-model="checkout">
                            <label for="number_of_guests" class="form-label">Número de hóspedes:</label>
                            <input type="number" class="form-control" id="number_of_guests" v-model="number_of_guests">
                            <button type="submit" class="btn btn-primary mt-2">Verificar</button>
                        </form>
                      </div>

                      <div class="col-md-6">
                        <div class="alert alert-success" v-if="selectedRoom == room && selectedRoom.available">
                          <p>Disponível! Valor total: R$ {{ selectedRoom.price }}</p>
                        </div>
                        <div class="alert alert-danger" v-if="selectedRoom == room && errorMessages">
                          <p>{{ errorMessages }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </section>
    </main>
  </div>
</body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="script.js"></script>
</body>
</html>